@media (prefers-color-scheme: dark) {
  // Zennのカラーパレットを上書き
  :root {
    --c-blue-200: #374151 !important;
    --c-gray-100: #374151 !important;
    --c-gray-200: #4b5563 !important;
    --c-gray-300: #1f2937 !important;
    --c-text-body: #fff !important;
    --c-bg-base: #111827 !important;
    --c-bg-secondary: #4b5563 !important;
    --c-text-low-priority: #fff !important;
    --c-text-lower-priority: #fff !important;
  }

  // ロゴ画像の背景色を白に変更
  // (ブランディングルール的にロゴの色を変更できないため)
  [class^="AppHeader_homeLink__"] > svg,
  [class^="AppFooter_brandingColumn__"] > a > svg,
  [class^="AppFooter_copyright__"] > a > img {
    background-color: #fff;
  }

  $blue-200-classes: 
    // モバイル表示時に著者名が表示されるaside
    "ContentStickyNavForMobile_container__",
    // モバイル表示時の目次
    "ArticleMobileHeaderToc_tocContainer__",
    // PC表示時にPublication名が表示されるエリア
    "PublicationInfoForDesktop_container__";

  @each $class in $blue-200-classes {
    [class^="#{$class}"] {
      background: var(--c-blue-200) !important;
    }
  }

  $gray-300-classes:
    // ヘッダー
    "AppHeader_header__",
    // Trending / Explore切り替え用のnav
    "ExploreNav_nav__";

  @each $class in $gray-300-classes {
    [class^="#{$class}"] {
      background: var(--c-gray-300) !important;
    }
  }
}
